html, body {
  font-family: sans-serif;
  margin: 0;
  width: auto;
  height: 100%;
  color: #32047c;
}

h1 {
  font-size: 48px;
}

p {
  max-width: 65%;
  min-width: 500px;
  margin:0;
}

div {
  padding-right: 20px;
  height:100%;
}
table, tr, td{
  border: 1px solid black;
}
table{
  height:70%;
}

.quiz {
  height: auto;
}

.reveal{
  margin:0;
}

.container {
  display: flex;
}

.main {
  padding-left: 5%;
  min-width: 75%;
}

.nav {
  background-color: #32047c;
  max-width: 40%;
  min-width: 20%;
  flex: 1;
  color: white;
}


.nav h2 {
  padding-left: 20%;
  font-size: 2.6rem;
}

.nav ul {
  padding-left: 20%;
  font-size: 1.5rem;
  font-weight:bold;
}

.reveal{
  visibility: hidden;
}
a {
  color:inherit;
  text-decoration: none;
 }

/*snack bar stuff*/ 
#pop{
  position: fixed; /* Sit on top of the screen */
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

#pop.show{
  visibility:visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}